<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- ===== Console Appender (Normal Text Logs) ===== -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] [%X{requestId}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ===== JSON FORMAT PROVIDER (Custom order) ===== -->
    <included>
        <provider class="net.logstash.logback.composite.loggingevent.LoggingEventFormattedTimestampJsonProvider">
            <fieldName>timestamp</fieldName>
        </provider>
        <provider class="net.logstash.logback.composite.loggingevent.MdcJsonProvider">
            <includeMdcKeyName>requestId</includeMdcKeyName>
        </provider>
        <provider class="net.logstash.logback.composite.loggingevent.MessageJsonProvider">
            <fieldName>message</fieldName>
        </provider>
        <provider class="net.logstash.logback.composite.loggingevent.LevelJsonProvider">
            <fieldName>level</fieldName>
        </provider>
        <provider class="net.logstash.logback.composite.loggingevent.LoggerNameJsonProvider">
            <fieldName>logger</fieldName>
        </provider>
        <provider class="net.logstash.logback.composite.loggingevent.ThreadNameJsonProvider">
            <fieldName>thread</fieldName>
        </provider>
    </included>

    <!-- ===== JSON File Appender (All logs) ===== -->
    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.json.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp fieldName="timestamp"/>
                <mdc>
                    <includeMdcKeyName>requestId</includeMdcKeyName>
                    <includeMdcKeyName>httpMethod</includeMdcKeyName>
                    <includeMdcKeyName>requestUrl</includeMdcKeyName>
                </mdc>
                <message fieldName="message"/>
                <level fieldName="level"/>
                <loggerName fieldName="logger"/>
                <threadName fieldName="thread"/>
            </providers>
        </encoder>


        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application.%d{yyyy-MM-dd}.json.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- ===== JSON Error File Appender ===== -->
    <appender name="JSON_ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error.json.log</file>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp fieldName="timestamp"/>
                <mdc>
                    <includeMdcKeyName>requestId</includeMdcKeyName>
                    <includeMdcKeyName>httpMethod</includeMdcKeyName>
                    <includeMdcKeyName>requestUrl</includeMdcKeyName>
                </mdc>
                <message fieldName="message"/>
                <level fieldName="level"/>
                <loggerName fieldName="logger"/>
                <threadName fieldName="thread"/>
            </providers>
        </encoder>


        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/error.%d{yyyy-MM-dd}.json.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- ===== Root Logger ===== -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
        <appender-ref ref="JSON_ERROR_FILE"/>
    </root>

</configuration>
